[Unit]
Description=Gunicorn service for AirBnB application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/path/to/my/application
ExecStart=/usr/bin/gunicorn --workers=3 --bind=0.0.0.0:5003 my_app_module:app
StandardOutput=file:/tmp/airbnb-access.log
StandardError=file:/tmp/airbnb-error.log

[Install]
WantedBy=multi-user.target
